{% if title %}
  <header class="fluid-grid">
    {% block heroMedia %}
      {% if featured_image %}
        <img
          class="col-[full-start/full-end] max-h-96 w-full object-cover"
          src="{{ featured_image.src }}"
          alt="{{ featured_image.alt }}"
          width="{{ featured_image.width }}"
          height="{{ featured_image.height }}"
          loading="eager"
        />
      {% endif %}
    {% endblock %}
    <div class="col-[content-start/content-end]">
      {% block heroBody %}
        <p>
          {{ title }}
        </p>
      {% endblock %}
    </div>
  </header>
{% endif %}
