{% if title %}
  <header class="fluid-grid">
    {% if featured_image %}
      <img
        class="col-[full-start/full-end] max-h-96 w-full object-cover"
        src="{{ featured_image.src }}"
        alt="{{ featured_image.alt }}"
        width="{{ featured_image.width }}"
        height="{{ featured_image.height }}"
        loading="eager"
      />
    {% endif %}
    <div class="col-[content-start/content-end]">
      <h1>{{ title }}</h1>
    </div>
  </header>
{% endif %}
