{% if posts is not empty %}
  {% for post in posts %}
    <article class="mb-8">
      <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
      <p class="text-sm text-neutral-500">
        <time datetime="{{ post.date('c') }}">{{ post.date }}</time>
      </p>
      <div class="prose">
        {{ post.excerpt|raw }}
      </div>
    </article>
  {% endfor %}
  {% include 'partials/pagination.twig' %}
{% else %}
  <p>
    {{ empty_message|default('No posts found.') }}
  </p>
{% endif %}
