<!DOCTYPE html>
<html {{ site.language_attributes|raw }}>

  {% include 'partials/head.twig' %}

  {% set tag = tag|default('div') %}

  <body class="{{ body_class }}">
    {% do action('wp_body_open') %}

    <a class="skip-link screen-reader-text" href="#main">
      {{ __('Skip to content', 'tatami') }}
    </a>

    {% block header %}
      {% include 'header.twig' %}
    {% endblock %}

    <main id="main">

      <{{tag}} class="flex flex-col gap-y-32 max-w-full">
        {% block pageHeader %}
          {% include 'partials/page-header.twig' with {
            title: title,
          } %}
        {% endblock %}
        {% block content %}
          <div class="fluid-grid py-16">
            <div class="col-[content-start/content-end]">
              Sorry, no content
            </div>
          </div>
        {% endblock %}
        {% block modules %}{% endblock %}
      </{{tag}}>

    </main>

    {% block footer %}
      {% include 'footer.twig' %}
    {% endblock %}

    {{ function('wp_footer') }}

  </body>
</html>
